#HeroMenu{
    margin-left: 15px;
    #Collom1{
        h1{
            font-family: 'Baloo 2';
            font-weight: 700;
        }

        p{
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 18px;
        }
    }

    img{
        width: 450px;
        margin-top: -30px;
        justify-content: center;
        text-align: center;
    }
}

nav{
    position: sticky;
        top: 0;
        z-index: 1000;
}