#NavMenu2 {
    max-width: 4000px;
    width: 1300px;
    position: sticky;
    top: 0;
    z-index: 1000;

    #Nav {
        #Logo {
            font-family: 'Baloo 2';
            font-weight: 700;
            font-size: 24px;
        }
    }

    .nav-link {
        font-family: 'Poppins';
    }

    .Button {
        gap: 10px;
        margin: 10px;
    }
}