.navbar {
    max-width: 4000px;
    width: 1200px;
    justify-content: center;
    margin-left: -50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    

    #formsearch {
        #search {
            width: 350px;
        }

    }

    #keranjang {
        text-align: start;
        justify-content: flex-start;
        margin-left: 10px;

    }
}


