.navbar {
    max-width: 4000px;
    width: 1050px;


    #formsearch {
        #search {
            width: 350px;
        }

    }

    #keranjang {
        text-align: start;
        justify-content: flex-start;
        margin-left: 10px;

    }
}