#productdetails {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 150px;

    h1 {
        text-align: center;
    }
}

#productdetails h1,
#productdetails h2 {
    color: #333;
    font-weight: 600;
}

#container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col1,
.col2 {
    flex: 1;
    margin: 40px;
}

.col1 img {
    width: 300px;
    height: auto;
    display: block;
}

.calculator {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.button, .checkout{
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;

    &:hover {
        background-color: #4d4d4d;
        color: white;
        transition: 0.3s background-color;
    }
}

#number {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout {
    background-color: #292929;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;

    &:hover {
        background-color: #0a0303;
    }
}